body {
  margin: 0px;
  padding: 0;
  background-image: url("../images/welcome.jpg"); 
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat;  
  height: 100vh;                
}
.content{
    width: fit-content;
    color: white;
    padding: 50px 50px;
    font-weight: 52px;
}
.container{
    
    margin: 50px;
    text-align: left;
    width: fit-content;
    padding: 80px;
    
}
h1,p {
  line-height: 1.1;
  font-family:'Times New Roman', Times, serif;
  
}
