body{
    
   background-image: url(../images/loginBackground.jpg); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; 

}


.loginContainer {
  max-width: 90%;
  width: 600px;
  margin: 50px auto;
  padding: 50px;
  background-color: #f9f9f9;
  border: 2px solid #000;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden; /* keeps content inside when zooming */
}
#user , #password{
  width: 88%;
  padding: 10px;
  margin: 5px;
  border: 1px dashed #f3bcbc;

}



.login{
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: black;
  cursor: pointer;
  box-sizing: border-box;
  width: 160px;
  color: white;
}
.login:hover{
    background-color: rgb(72, 137, 227);
}

.signup{
  padding: 25%;
}

#showPassword{
    display: flex;
    align-items: center;
    gap: 5px;              
    margin-left: 10px;
}
label {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}
h1{
  margin: 25px;
  margin-top: -15px;
  
}
